<div id="input-form" class="hidden">
    <form id="place-input-form">
        <input type="text" name="place" id="place" placeholder="Point of Interest" autocomplete="off"><br>
        <input type="text" name="park" id="park" placeholder="Park or Area" autocomplete="off"><br>
        <input type="text" name="town" id="town" placeholder="Closest City or Town" autocomplete="off"><br>
        <input type="text" name="state" id="state" placeholder="State: Full State Name" autocomplete="off"><br>
        <input type="text" name="date" id="date" placeholder="Date: MM/DD/YYYY" autocomplete="off"><br>
        <input type="text" name="photo" id="photo" placeholder="Photo URL" autocomplete="off"><br>
        <input type="text" name="comment" id="comment" placeholder="A short story..." autocomplete="off">
        <button type="button" id="submit-button">Submit</button>
    </form>
</div>