<!doctype html>
<html>
    
{{> edit_header}}

<body>
    <div id="map"></div>
    
    {{> form}}
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/libs/jquery-3.1.2.js"></script>
    <script type="text/javascript" src={{jScript}}></script>
</body>
</html>