@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html, body, #map {
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    margin: 0
}
.marker {

    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

#input-form {
    background-color: white;
    padding: 10px;
    z-index: 1000;
    position: absolute;
/*    height: 360px;*/
    width: 220px;
    top: 0;
    margin-left: 20;
    border:.5px solid #DDDDDD;
    box-shadow:2px 2px 5px #DDDDDD;
}

#place, #park, #town, #state, #date, #comment {
    font-family: 'Noto Sans', sans-serif;
    border: .5px solid #DDDDDD;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    width: 210px;
    height: 30px;
    font-size: 14px;
    box-shadow: 2px 2px 5px #DDDDDD;
}

#submit-button {
    margin-left: 27%;
    background-color:#a3c1ad;
    border-radius:5px;
    border:none;
    padding:10px 25px;
    color:#FFF;
    text-shadow:1px 1px 1px #949494
}

.hidden {
    display:none
}



p {
    display: inline
}

#update, #delete {
    cursor: pointer
}